<h1>New keg</h1>

<%= form_for @keg do |f| %>
  
<% end %>


<% if @keg.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @keg.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>