<%# archive show all taps 
user = view
admin view and update %>

<% if @archives.any? %>
  <ul>
    <% @archives.each do |archive| %>
      <li><%= link_to archive.brand, archives_path(archive) %></li>
    <% end %>
  </ul>
<% else %>
  <p>Empty.</p>
<% end %>