// @import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: rgb(255, 255, 255);
  font-family: Garamond;
}

ul li {
  font-family: Garamond;
  list-style: none;
  font-size: 18px;
  // text-align: center;
}

// h1 {
//   font-size: 60px;
//   text-align: center;
//   color: rgb(0, 0, 0);
// }

// h2 {
//   font-size: 50px;
//   text-align: center;
//   color: rgb(53, 0, 59);
// }

// h3 {
//   font-size: 40px;
//   text-align: center;
//   color: rgb(0, 0, 0);
// }

// a {
//   color: rgb(0, 0, 0);
// }

#beerIcon {
  background-color: rgb(255, 255, 255);
  width: 20px;
  height: 20px;
  opacity: 0.5;
  transform: rotate(-20deg);
  mix-blend-mode: multiply;
}