@import "bootstrap-sprockets";
@import "bootstrap";

body {
  /* background-image: url(/assets/Tapi.jpg);
  background-color: rgb(173, 171, 167);
  background-size: cover;
  height: 100%;
  
  overflow: scroll;
  padding-top: 5%; */
}